div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.news-list
{

}


.head-item
{
	width: 100%;
}
.name-item
{
	float: left;
	width: 70%;
	padding: 20px 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.picture-item
{
	float: right;
	width: 30%;
}